body {
  font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.screen{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.screen_wapper {
  flex-grow: 1;
  overflow: hidden;
}

.chat{
  position: relative;
  height: 100%;
}

.chat__area{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat__conversations{
  flex-grow: 1;
  overflow: hidden;
}

.conversations__wrapper{
  height: 100%;
  overflow-y: auto;
}


.chat__message {
  display: flex;
  padding: 16px 0;
}

.chat__message--assistant{
  gap: 1rem;
}

@media (min-width: 1024px) {
  .chat__message--assistant  {
      gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .chat__message--assistant {
      gap: 1.25rem;
  }
}



.chat__message--user .chat__message-content {
  background-color: #F4F4F4;
  color: #000;
  border-radius: 1.5rem;
  max-width: 70%;
  margin-left: auto;
  margin-right: 16px;
}

.chat__message--user p {
  padding: .625rem 1.25rem;
}

.chat__message--assistant {
  display: flex;
}

.chat__message--assistant .chat__message-content {
  color: #000;
  border-radius: 16px;
  max-width: 70%;
  margin-right: auto;
  margin-left: 16px;
}

.chat__message-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.chat__message-avatar svg {
  width: 100%;
  height: 100%;
}





