/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

 a, a:visited  {
    text-decoration: none;
    display: inline-block;
} 

/* Common */



/* Form */

 input, textarea, button, select {
	font-family: inherit;
  font-size: inherit;
} 

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

